.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  wrap: no-wrap;
  height: 44px;
  margin: 26px 0 26px 0;
  width: 100%;
  list-style: none;
  padding: 0;
}

.card-list__card {
  width: 66px;
  height: 44px;
  background: var(--tertiary-bg-color);
  border: 0;
  cursor: pointer;
  margin-right: 16px;
  border-radius: 4px;
}

.card_type_clicked {
  background: var(--secondary-bg-color);
  color: #ffffff;
}

.swiper-container {
  width: 500px;
  cursor: pointer;
  overflow: hidden;
}

.swiper-container:hover {
  cursor: pointer;

}

.swiper-wrapper {
  padding-inline-start: 0;
  list-style: none;
}