.card-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 26px 0 auto;
  width: 100%;
  list-style: none;
  padding: 0;
}

.card-list__card {
  width: 66px;
  height: 44px;
  background: var(--button-light-grey);
  border: 0;
  padding: 13px 11px;
  cursor: pointer;
}
