.rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto 24px;
  width: 100%;
  cursor: pointer;
}

.rating__stars {
  position: relative;
  display: block;
  font-size: 0;
}
.rating__stars::before {
  content: '';
  display: inline-block;
  height: 100%;
  background: url(../../images/star.svg) transparent no-repeat center;
}
.rating__stars span {
  position: absolute;
  top: 0;
  left: 0;
  display: inline-block;
  height: 100%;
  overflow: hidden;
}
.rating__stars span::before {
  content: '';
  display: inline-block;
  height: 100%;
  background: url(../../images/star-checked.svg) transparent no-repeat center;
}

.form__rating-label {
  display: block;
  width: 37px;
  height: 33px;
  margin-right: 4px;
  cursor: pointer;
}
.form__rating-label:first-child {
  margin-right: 0;
}

