.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.profile__image {
  display: block;
  position: absolute;
  top: 155px;
  width: 96px;
  height: 96px;
  border-radius: 50%;
  margin-bottom: 20px;
}

.profile__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0 auto;
}

.profile__block {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
  width: 100%;
}

.profile__name {
  font-size: var(--text-size-m);
  font-weight: 600;
  margin: 0 5px 0 0;
  line-height: 22px;
}

.profile__position {
  margin: 5px;
  padding: 0;
  color: var(--secondary-txt-color);
  font-size: var(--text-size-xs);
  line-height: 18px;
}

.profile__desc {
  font-size: var(--text-size-s);
  line-height: 22px;
  margin: 0 auto;
}
