.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--secondary-bg-color);
  height: 199px;
  color: var(--tertiary-txt-color);
  padding: 20px 19px 20px 21px;
  box-sizing: border-box;
  font-size: var(--text-size-m);
  font-weight: 600;
}

.header__time {
  align-self: flex-start;
  margin: 0;
  padding: 0;
}

.header__group {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  gap: 5px;
}