::after,
::before {
  box-sizing: border-box;
  outline: none;
}

:root {
  /* main project colors */
  --primary-bg-color: #ffffff ;
  --secondary-bg-color:#3C3C3C;
  --tertiary-bg-color: #F5F5F5;

  --button-color-blue: #377BFF;
  --button-color-light-grey: #F5F5F5;
  --button-color-light-blue-clicked: rgba(55, 123, 255, 0.7);
  --button-color-light-grey-clicked: rgba(60, 60, 60, 0.7);

  --primary-txt-color: #000000;
  --secondary-txt-color: #5E5E5E;
  --tertiary-txt-color: #FFFFFF;
  --button-txt-color-dark-grey: #3C3C3C;
  --button-txt-color-light-grey: #F5F5F5;
  --link-txt-color: #377BFF;

  /* font sizes */
  --text-size-xs: 12px;
  --text-size-s: 14px;
  --text-size-m: 16px;
  --text-size-l: 44px;

  /* page max and min width / section margins */
  --max-width: 479px;
  --max-content-width: calc(var(--max-width) - var(--side-margin-default) * 2); 
  --min-width: 320px;

  --side-margin-default: 44px;
  --side-margin-l: 24px;
  --side-margin-m: 21px;
  --side-margin-s: 18px;  
}


@media screen and (max-width: 435px) {
  :root {

    --max-width: 400px;
    --text-size-xs: 11px;
    --text-size-s: 12px;
    --text-size-m: 14px;
    --text-size-l: 35px;

    --side-margin-l: 22px;
    --side-margin-m: 18px;
    --side-margin-s: 14px;
    --side-margin-xs: 10px;
  }
}


@media screen and (max-width: 375px) {
  :root {
    --text-size-xs: 11px;
    --text-size-s: 12px;
    --text-size-m: 14px;
    --text-size-l: 35px;

    --side-margin-l: 22px;
    --side-margin-m: 18px;
    --side-margin-s: 14px;
    --side-margin-xs: 10px;
  }
}

@media screen and (max-width: 357px) {
  :root {
    --text-size-xs: 11px;
    --text-size-s: 12px;
    --text-size-m: 13px;
    --text-size-l: 35px;

    --side-margin-m: 18px;
    --side-margin-s: 14px;
    --side-margin-xs: 10px;
  }
}


@media screen and (max-width: 350px) {
  :root {
    --max-width: 370px;
  }
}
/* 
@media screen and (max-width: 330px) {
  :root {
    --max-width: 360px;
  }
} */