.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 24px;
}

.button-group__button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--button-navy);
  border-radius: 4px;
  height: 44px;
  margin-bottom: 12px;
  color: var(--primary-bg-color);
  border: 0;
  cursor: pointer;
}

.button_type_grey {
  background: var(--button-light-grey);
  color: var(--primary-text-color);
}

.button__image {
  background: url('./../../images/sbp-icon.svg') center no-repeat;
  width: 21px;
  height: 24px;
  border: 0;
  margin: 0 5px;
  stroke: transparent;
  stroke-width: 0px;
}

.button_type_clicked {
  background-color: rgba(55, 123, 255, 0.7)
}

.button_type_grey_clicked {
  background-color: rgba(60, 60, 60, 0.7);
  color: white;
}


